<header id="main-header" class="py-2 bg-info text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><i class="fas fa-user"></i>Configuración</h1>
            </div>
        </div>
    </div>
</header>

<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a routerLink="/" class="btn btn-light btn-block">
                    <i class="fas fa-arrow-left"></i>Inicio
                </a>
            </div>
            <div class="col-md-3">
                <button type="submit" (click)="guardar()" class="btn btn-success btn-block">
                    <i class="fas fa-check"></i>Guardar Cambios
                </button>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Editar Configuración</h4>
                    </div>
                    <div class="card-body">
                        <fieldset class="form-group">
                            <legend>Permitir registro de usuario</legend>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" 
                                           class="form-check-input" 
                                           name="permitirRegistro" 
                                           [(ngModel)]="permitirRegistro"
                                           [checked]="permitirRegistro"> {{permitirRegistro?"Si":"No"}}
                                </label>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>