<footer id="pie-pagina" class="bg-warning text-white mt-5 p-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="lead text-center">
                    Copyright &copy; luismonkey.com
                </p>
            </div>
        </div>
    </div>
</footer>